<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/x-icon" href="docs/images/favicon.ico" />
    <!--font-->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap" rel="stylesheet">

    <!-- bootstrap-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <title>Parcels Detail List</title>

    <script src='https://api.mapbox.com/mapbox.js/v3.3.1/mapbox.js'></script>
    <link href='https://api.mapbox.com/mapbox.js/v3.3.1/mapbox.css' rel='stylesheet' />
    <link href="/assets/style.css" rel="stylesheet" type="text/css" />
</head>

<body>
    <%- include('../public/partials/header.ejs')%>
    <div id="map"></div>
    <div class="container-sm">
        <div id="table">
            <table class="table table-striped" id="detailTable">
                <tbody>
                    <tr>
                        <th>ID</th>
                        <td>
                            <%= parcels[0].id %>
                        </td>
                    </tr>
                    <tr>
                        <th>Peso</th>
                        <td>
                            <%= parcels[0].weight %> kg
                        </td>
                    </tr>
                    <tr>
                        <th>Dimensioni</th>
                        <td>
                            <%= parcels[0].height %> x <%= parcels[0].width %> x <%= parcels[0].depth %> cm
                        </td>
                    </tr>
                    <tr>
                        <th>Arrivo in deposito</th>
                        <td>
                            <%= parcels[0].checkInDate %>
                        </td>
                    </tr>
                    <tr>
                        <th>Tentativi di consegna</th>
                        <td>
                            <%= parcels[0].deliveryAttempts %>
                        </td>
                    </tr>
                    <tr id="last-row">
                        <th>Priorità</th>
                        <td>
                            <%= parcels[0].priority %>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div id="circle"></div>

    <script>
        L.mapbox.accessToken = 'pk.eyJ1IjoiYW5uYmFyIiwiYSI6ImNrbWRicDVzdzJqcmEyb3AxYXEyNDUyaGsifQ.OTfQv0UbnWbzFsxA_iT6ww';
        var mapboxTiles = L.tileLayer('https://api.mapbox.com/styles/v1/mapbox/streets-v11/tiles/{z}/{x}/{y}?access_token=' + L.mapbox.accessToken, {
            attribution: '© <a href="https://www.mapbox.com/feedback/">Mapbox</a> © <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>',
            tileSize: 512,
            zoomOffset: -1
        });
        var map = L.map('map').addLayer(mapboxTiles).setView([<%= parcels[0].x %>,<%= parcels[0].y %>], 13, 5);
        var marker = L.marker([<%= parcels[0].x %>,<%= parcels[0].y %>]).addTo(map);
    </script>
</body>

</html>